<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>id</key>
        <integer>2643743</integer>
        <key>name</key>
        <string>London</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>293396</integer>
        <key>name</key>
        <string>TelAviv</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>5128581</integer>
        <key>name</key>
        <string>NewYork</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>2800866</integer>
        <key>name</key>
        <string>Brussels</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>3128760</integer>
        <key>name</key>
        <string>Barcelona</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>2988507</integer>
        <key>name</key>
        <string>Paris</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>1850147</integer>
        <key>name</key>
        <string>Tokyo</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>1816670</integer>
        <key>name</key>
        <string>Beijing</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>2147714</integer>
        <key>name</key>
        <string>Sydney</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>3432043</integer>
        <key>name</key>
        <string>BuenosAires</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>4164138</integer>
        <key>name</key>
        <string>Miami</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>6173331</integer>
        <key>name</key>
        <string>Vancouver</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>524901</integer>
        <key>name</key>
        <string>Moscow</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>1609350</integer>
        <key>name</key>
        <string>Bangkok</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>993800</integer>
        <key>name</key>
        <string>Johannesburg</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>2464470</integer>
        <key>name</key>
        <string>Tunis</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>1701668</integer>
        <key>name</key>
        <string>Manila</string>
    </dict>
</array>
</plist>
